<ion-header>
  <ion-toolbar>
    <ion-title>log sleep hours</ion-title>
    <ion-buttons slot="start">
                <ion-button (click)="dismiss()" color="primary">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
                <ion-button (click)="submitForm()" color="primary" fill="clear">log</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-item lines="none" id="err">
    {{summaryString}}
  </ion-item>
<ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime placeholder="Select Date" [(ngModel)]="inputsDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Went to bed at</ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z" [(ngModel)]="inputsTime"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Wake up at</ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z" [(ngModel)]="inputeTime"></ion-datetime>
        </ion-item>
 <ion-item lines="none">
    &nbsp;
  </ion-item>
  <!--
<ion-button color="primary" (click)="submitForm()" expand="full">Log Data</ion-button>
-->
</ion-content>
