<ion-header>
  <ion-toolbar>
    <ion-title>Current Sleepiness</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <ion-item >
    Today is {{ dateString }}
  </ion-item>
  <ion-item >
    Time: {{ timeString }}
  </ion-item>
  How would you rate your sleepiness?
  <ion-item >
    <ion-range color="secondary" snaps="true" pin="true" min="1" max="7"  [(ngModel)]="currentValue" [value]="currentValue" (ionChange)="updateDesc()"></ion-range>
  </ion-item>

  <ion-item >
    Rating: {{ currentValue }}, {{ desc }}
  </ion-item>

  <ion-button (click)="logSleepiness()">
    Log current sleepiness
  </ion-button>
  
  
</ion-content>
